/* CSS FOR PROFILE.EJS */

.save-toggle-btn {
  cursor: pointer;
}

/* Flex container to align the sections side by side */
.profile-container {
  display: flex;
  justify-content: space-between;
  /* Space between the sections */
  align-items: flex-start;
  /* Align items to the top */
  gap: 20px;
  /* Add space between profile and feelings form */
}

.profile-info {
  flex: 1;
  /* Take up remaining space */
  max-width: 60%;
  /* Limit width of profile section */
}

.feelings-block {
  flex: 1;
  /* Take up remaining space */
  max-width: 40%;
  /* Limit width of the feelings block */
}

/* Ensure the personalized message is visible when available */
.personalized-message {
  margin-top: 20px;
  /* Space between form and personalized message */
  max-width: 67%;
  /* Limit width to 2/3 of the container */
  word-wrap: break-word;
  /* Allow the text to break into the next line */
  text-align: left;
  /* Align text to the left */
}
