<footer class="text-center text-white py-4" style="background-color: #003366;">
    <div class="container">
      <!-- Copyright notice, we can probably add some other stuff -->
      <p class="mb-0">&copy; BBY-20, All rights reserved.</p>
    </div>
  </footer>
  